<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de cursos</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Cursos</h1>
    <div class="panel panel-default">
    <ul class="list-group">
        {% for course in object_list %}
            <li class="list-group-item">{{ course.name }}
                    <a href="{% url "detailcourse" course.id %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{% url "editcourse" course.id %}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="{% url "deletecourse" course.id %}"><span class="glyphicon glyphicon-trash"></span></a>
            </li>
        {% endfor %}
    </ul>
    </div>
    <a href="{% url "newcourse" %}" class="btn btn-primary" role="button">Agregar curso</a>
    <br>

</div>
</body>
</html>