<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de notas</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Notas</h1>
    <div class="panel panel-default">
    <ul class="list-group">
        {% for grade in object_list %}
            <li class="list-group-item">{{ grade}}
                    <a href="{% url "detailgrade" grade.id %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{% url "editgrade" grade.id %}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="{% url "deletegrade" grade.id %}"><span class="glyphicon glyphicon-trash"></span></a>
            </li>
        {% endfor %}
    </ul>
    </div>
    <a href="{% url "newgrade" %}" class="btn btn-primary" role="button">Agregar nota</a>
    <br>

</div>
</body>
</html>