<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar alumno</title>
            <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Eliminar Alumno</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post">{% csrf_token %}
                <p>Está seguro que desea eliminar al alumno {{ object.name }}?</p>
                <input type="submit" class="btn btn-danger" value="Eliminar" />
                <a href="{% url "liststudent"%}" class="btn btn-warning" role="button">Cancelar</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>