<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de alumnos</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Alumnos</h1>
    <div class="panel panel-default">
    <ul class="list-group">
        {% for student in object_list %}
            <li class="list-group-item">{{ student.name }}
                    <a href="{% url "detailstudent" student.id %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="{% url "editstudent" student.id %}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="{% url "deletestudent" student.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                <p>Promedio de notas: {{student.testavg}}</p>
            </li>
        {% endfor %}
    </ul>
    </div>
    <a href="{% url "newstudent" %}" class="btn btn-primary" role="button">Agregar alumno</a>
    <br>

</div>
</body>
</html>